@model Potatonaut.ViewModels.DashboardViewModel

<h2>DASHBOARD</h2>
<h3>   Todays date @DateTime.UtcNow</h3>
<div class="jumbotron">
    <h1 class="display-4">Today's Mission</h1>
    <p class="lead">Here is an overview of Today's tasks and goals! Good luck Potatonaut!</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<form asp-action="AddTask" asp-controller="Dashboard" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserTask.Title" class="col-md-4 control-label"></label>
        <div class="col-md-10">
            <input asp-for="UserTask.Title" class="form-control" />
            <span asp-validation-for="UserTask.Title" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <input type="submit" class="btn btn-primary" value="Add Task" />
        </div>
    </div>
</form>
<div>
    <h2>List of tasks</h2>
        @foreach (var task in Model.UserTasks)
        {
            <h3>@task.Title</h3>
            <form asp-action="AddMinutes" asp-controller="Dashboard" method="post">
                <div class="col-md-offset-2 col-md-4">
                    <input type="hidden" asp-for="Entry.UserTaskId" value="@task.Id" />
                    <input asp-for="Entry.Duration" class="form-control" />
                    <input type="submit" class="btn btn-primary" value="Add Minutes" />
                    
                </div>
                <div class="col-md-4">
                    <h4></h4>
                    @if (task.Entries != null)
                    {
                        foreach (var entry in task.Entries)
                        {
                            <p>@entry.Duration</p>
                        }
                    }
                    else
                    {
                        <h3>No entries added</h3>

                    }
                </div>
            </form>
        }
    
</div>