<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link href="~/main.css" rel="stylesheet">
</head>
<body>
    <div>
        @RenderBody()
        <h2>LAYOUT USED</h2>
    </div>
</body>
</html>
